<div class="wrapper">

    <h2>Вас приветствует приложение о фильмах</h2><br> 
    
    <mat-tab-group>
            <mat-tab label="Информация о портале"><p class="main-about">независимый кинопортал, посвященный основным событиям украинской
                 и мировой индустрии кино и ТВ, а также точным цифрам и аналитике всемирного кинопроката.</p></mat-tab>
            <mat-tab label="Дополнительная информация"><p class="main-about">Наш Angular кинопортал  обладает массой
                 преимуществ: большим выбором разножанровых фильмов, отменным качеством изображения и
                 звучания всех фильмов, наличием возможности просматривать кинофильмы тогда, когда это вам удобно;
                    отсутствием рекламы,
                    отсутствием необходимости в регистрации и пр..
                    Кинопортал Angular - это возможность смотреть любимые фильмы в отличном качестве и совершенно бесплатно!</p></mat-tab>
    </mat-tab-group>
</div>


