.example-card {
    width: 200px;
    flex-wrap: wrap;
  }

.example-card img {
  width:200px;
}
.example-card img:hover {
  transform: scale(1.05);
  transition: all 0.5s; 
}

.filmName { 
  display: flex;
  justify-content: center;
}

.example-card:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.card-description {
  height: 80px;
  overflow: hidden;
}

.pressed {
  background-color: #888;
}