
 <mat-card class="menu-card">
  <mat-toolbar class="menu-toolbar">
      <mat-toolbar-row>
        <span>В избранное добавлено: {{counter}}</span>
        <span class="example-spacer"></span>
        <input matInput placeholder="Поиск фильма" class="search-film" type="text" [(ngModel)]="name" (ngModelChange)="searchFilm(name)">
          <div>            
              <mat-form-field> <!--* тут ngModel, потому что не хотел отдельно к каждой опции
                прикручивать событие, тем более их в теории может быть ну очень много. 
                не знаю правильно или нет я поменял в макете, мне так было проще --> 
                <mat-select placeholder="Сортировка" (selectionChange)="sorting(value)" [(ngModel)]="value">
                  <mat-option value="ASC">По алфавиту: A-Z</mat-option>
                  <mat-option value="DESC">По алфавиту: Z-A </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
      </mat-toolbar-row>
  </mat-toolbar>

</mat-card><!--* тут я передаю отдельно каждый элемент массива  -->
 <mat-grid-list cols="3" rowHeight="3:5">
  <mat-grid-tile *ngFor="let film of films; trackBy: trackByFn;"> 
    <app-film-item [film]="film" [films]="films" (favorite)="setCounterValue($event)"></app-film-item>
  </mat-grid-tile>
 </mat-grid-list>
 <button mat-button class="more" (click)="getNextPage()" [disabled]="isDisabled">Загрузить еще</button>
